.vs/Veterinaria2/DesignTimeBuild/.dtbcache.v2
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/DocumentLayout.backup.json
.vs/Veterinaria2/v17/DocumentLayout.json
.vs/Veterinaria2/FileContentIndex/2952f53f-9339-4b82-b6bb-e5409132639b.vsidx
.vs/Veterinaria2/FileContentIndex/747654a7-e9e3-4965-aa22-55e8af892d02.vsidx
.vs/Veterinaria2/FileContentIndex/fefee667-2c37-4a66-b4d6-c5c9dd11c4d5.vsidx
.vs/ProjectEvaluation/veterinaria2.metadata.v9.bin
.vs/ProjectEvaluation/veterinaria2.projects.v9.bin
.vs/ProjectEvaluation/veterinaria2.strings.v9.bin
.vs/Veterinaria2/DesignTimeBuild/.dtbcache.v2
.vs/Veterinaria2/v17/.futdcache.v2
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/DocumentLayout.backup.json
.vs/Veterinaria2/v17/DocumentLayout.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfo.cs
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfoInputs.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.assets.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.GeneratedMSBuildEditorConfig.editorconfig
.vs/Veterinaria2/DesignTimeBuild/.dtbcache.v2
.vs/Veterinaria2/DesignTimeBuild/.dtbcache.v2
.vs/Veterinaria2/v17/.futdcache.v2
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/DocumentLayout.backup.json
.vs/Veterinaria2/v17/DocumentLayout.json
.vs/ProjectEvaluation/veterinaria2.metadata.v9.bin
.vs/ProjectEvaluation/veterinaria2.projects.v9.bin
.vs/ProjectEvaluation/veterinaria2.strings.v9.bin
.vs/Veterinaria2/DesignTimeBuild/.dtbcache.v2
.vs/Veterinaria2/v17/.futdcache.v2
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/DocumentLayout.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfo.cs
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfoInputs.cache
.vs/ProjectEvaluation/veterinaria2.metadata.v9.bin
.vs/ProjectEvaluation/veterinaria2.projects.v9.bin
.vs/ProjectEvaluation/veterinaria2.strings.v9.bin
.vs/Veterinaria2/DesignTimeBuild/.dtbcache.v2
.vs/Veterinaria2/v17/.futdcache.v2
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/DocumentLayout.backup.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfo.cs
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfoInputs.cache
/.vs
/.vs
/.vs
/.vs/Veterinaria2/v17
/.vs/Veterinaria2/FileContentIndex
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/DocumentLayout.json
.vs/Veterinaria2/DesignTimeBuild/.dtbcache.v2
.vs/Veterinaria2/v17/.futdcache.v2
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/DocumentLayout.backup.json
.vs/Veterinaria2/v17/DocumentLayout.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfo.cs
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfoInputs.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.designer.runtimeconfig.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.assets.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfoInputs.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfo.cs
Veterinaria2/Form1.Designer.cs
.vs/Veterinaria2/v17/DocumentLayout.json
.vs/Veterinaria2/v17/DocumentLayout.backup.json
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/.futdcache.v2
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.designer.runtimeconfig.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.assets.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfoInputs.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfo.cs
Veterinaria2/Form1.Designer.cs
.vs/Veterinaria2/v17/DocumentLayout.json
.vs/Veterinaria2/v17/DocumentLayout.backup.json
.vs/Veterinaria2/v17/.suo
.vs/ProjectEvaluation/veterinaria2.projects.v9.bin
.vs/ProjectEvaluation/veterinaria2.metadata.v9.bin
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.GeneratedMSBuildEditorConfig.editorconfig
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.assets.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfoInputs.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfo.cs
/Veterinaria2/clsConexion.cs
/.vs/Veterinaria2/v17/.suo
/.vs/Veterinaria2/DesignTimeBuild/.dtbcache.v2
/.vs/Veterinaria2/v17/DocumentLayout.backup.json
/.vs/Veterinaria2/v17/DocumentLayout.json
Veterinaria2/Veterinaria2.csproj
Veterinaria2/Veterinaria2.csproj.user
Veterinaria2/Veterinarios.cs
Veterinaria2/Veterinarios.Designer.cs
Veterinaria2/obj/Veterinaria2.csproj.nuget.g.props
Veterinaria2/obj/Veterinaria2.csproj.nuget.dgspec.json
Veterinaria2/obj/project.nuget.cache
Veterinaria2/obj/project.assets.json
Veterinaria2/Form1.cs
Veterinaria2/Form1.Designer.cs
Veterinaria2/FormUsuarios.cs
Veterinaria2/FormUsuarios.Designer.cs
Veterinaria2/Login.Designer.cs
Veterinaria2/Login.resx
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfo.cs
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfoInputs.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.assets.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.designer.deps.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.designer.runtimeconfig.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.GeneratedMSBuildEditorConfig.editorconfig
.vs/Veterinaria2/v17/DocumentLayout.backup.json
.vs/Veterinaria2/v17/.futdcache.v2
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/DocumentLayout.json
.vs/Veterinaria2/DesignTimeBuild/.dtbcache.v2
.vs/Veterinaria2/v17/.suo
.vs/Veterinaria2/v17/DocumentLayout.backup.json
.vs/Veterinaria2/v17/DocumentLayout.json
Veterinaria2/bin/Debug/net8.0-windows/Veterinaria2.dll
Veterinaria2/bin/Debug/net8.0-windows/Veterinaria2.exe
Veterinaria2/bin/Debug/net8.0-windows/Veterinaria2.pdb
Veterinaria2/clsValidaciones.cs
Veterinaria2/Login.cs
Veterinaria2/Login.Designer.cs
Veterinaria2/Login.resx
Veterinaria2/obj/Debug/net8.0-windows/apphost.exe
Veterinaria2/obj/Debug/net8.0-windows/ref/Veterinaria2.dll
Veterinaria2/obj/Debug/net8.0-windows/refint/Veterinaria2.dll
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfo.cs
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.AssemblyInfoInputs.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.assets.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.csproj.CoreCompileInputs.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.csproj.FileListAbsolute.txt
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.csproj.GenerateResource.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.designer.runtimeconfig.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.dll
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.GeneratedMSBuildEditorConfig.editorconfig
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.genruntimeconfig.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.Login.resources
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.pdb
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.sourcelink.json
Veterinaria2/obj/project.assets.json
Veterinaria2/obj/project.nuget.cache
Veterinaria2/obj/Veterinaria2.csproj.nuget.dgspec.json
Veterinaria2/obj/Veterinaria2.csproj.nuget.g.props
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.csproj.CoreCompileInputs.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.csproj.FileListAbsolute.txt
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.csproj.GenerateResource.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.designer.runtimeconfig.json
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.dll
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.GeneratedMSBuildEditorConfig.editorconfig
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.genruntimeconfig.cache
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.Login.resources
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.pdb
Veterinaria2/obj/Debug/net8.0-windows/Veterinaria2.sourcelink.json
Veterinaria2/obj/project.assets.json
Veterinaria2/obj/project.nuget.cache
Veterinaria2/obj/Veterinaria2.csproj.nuget.dgspec.json
Veterinaria2/obj/Veterinaria2.csproj.nuget.g.props
